/**
*
* JDIH Kota Blitar Frontend Design - v.1.0
* Copyright JDIH Kota Blitar
*/

@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap');

body {
  font-family: Poppins, sans-serif;
}

a:hover {
  text-decoration: none;
}

#wrapper .header-mainbar {
  padding: 30px;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: #ffffff;
  font-family: Poppins, sans-serif;
}

#wrapper .header-mainbar .title {
  font-size: 2rem;
  font-weight: 700;
}

#wrapper .header-mainbar .text-mainbar {
  margin-left: 1rem;
}

#wrapper .header-mainbar h3 {
  color: #eeeeee;
}

#wrapper .header-mainbar .logo {
  width: 8em;
  height: 8em;
}

.form-produk {
  margin-top: 1rem;
  width: auto;
}

.myborder {
  border: 2px solid #007bff;
  width: 10ch;
  margin-bottom: 20px
}

.content-wrapper {
  margin-bottom: 1rem;
}

.footer-card {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, .05);
  color: #999999;
}

.footer-card .footer-details {
  display: flex;
}

.footer-card .footer-details .berita-detail .clicked {
  margin-right: 20px;
}

.sidebar {
  margin-bottom: 1rem;
}

.sidebar .widget .card-title {
  font-weight: 600;
  margin-left: 20px;
}

.sidebar .widget .widget-content .nav {
  margin: 0 -7.5px;
}

.sidebar .widget .widget-content .nav li {
  margin: 0 7.5px;
  border-bottom: 1px solid #eee;
}

/** Bootstrap Edit */
.navbar-light .navbar-nav .nav-link {
  color: #999999;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #34495e;
  transition: .5s all;
}

.navbar-light .navbar-nav .nav-item {
  margin-left: 10px;
}

.dropdown-menu {
  border-radius: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
  color: #3498db;
  text-decoration: none;
}

.form-control {
  border-radius: 0;
}

.form-control:focus {
  outline: 10px;
  box-shadow: none;
}

.btn {
  border-radius: 0;
}

.card {
  border: none;
  border-radius: 0;
  box-shadow: 0 10px 30px rgba(0,0,0,.15);
}